* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}

.block {
    position: relative;
    width: 0;
    height: 0;
    animation: move 20s linear infinite 1s alternate;

}
@keyframes move {
    0%   {left: 0;}
    50%  {left: 100%; transform: translate(calc(-100vw * 0.1)); }
    100% {left: 0; }
}